absl-py==0.1.10
chainer==4.5.0
chumpy==0.69
cupy-cuda92==4.2.0
Cython==0.29.16
h5py==2.10.0
imageio==2.8.0
ipdb==0.13.2
matplotlib==3.2.1
meshzoo==0.3.1
opendr==0.78
Pillow==7.1.1
protobuf==3.11.3
scikit-image==0.16.2
scipy==1.5.4
tensorflow-gpu==1.3.0
torchfile==0.1.0
tqdm==4.43.0
visdom==0.1.7